<!-- ============================================================== -->
<!-- Topbar header -->
<!-- ============================================================== -->

<header>
    <h1 class="col-5">DevMusic</h1>
    <nav class="d-flex row col-2 float-right">
        <div class="btn-group">
            <button type="button" class="btn">
                <i class="fa fa-cog"></i>
            </button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div class="hd-btns col-12 row">
        <a routerLink="/tracks">Tracks</a>
        <a routerLink="/albums">Albums</a>
        <a routerLink="/playlist">Playlists</a>
        <a routerLink="/artist">Artists</a>
    </div>

</header>


<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->